---
export const prerender = true

import Layout from '~/layouts/BaseLayout.astro'

const title = `Error 404`
---

<Layout meta={{ title }}>
  <section class="flex items-center h-screen p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-xl text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">This is not the page you're looking for.</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          But don't fret, there are lots of other pages!
        </p>
        <a rel="noopener noreferrer" href="/" class="btn ml-4">Back to homepage</a>
      </div>
    </div>
  </section>
</Layout>
